@model IEnumerable<GummyBearKingdom.Models.Product>

@{
    ViewData["Title"] = "Gummy Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin:</h2>
<ul>
    @foreach (var listItem in Model)
    {

    <li>
        @Html.DisplayFor(modelItem => listItem.ProductName) | @Html.ActionLink("Edit", "Edit", new { id = listItem.ProductId })
    </li>
    }
</ul>
<br />
<p>@Html.ActionLink("Add new item", "Create")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>