@model IEnumerable<GummyBearKingdom.Models.Product>

@{
    ViewData["Title"] = "Gummy Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to Gummy Bear Kingdom! The yummiest place on earth!</h1>


